name: Generate Pacman Game

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Generate Pacman Labirinto
        # Esta versão específica é a que mantém o visual de labirinto com fantasmas
        uses: jasonlong/github-contribution-calendar-action@v1.4.0
        with:
          github_user_name: cmensato
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
