name: Generate Pacman Labirinto

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Gerar Labirinto Pacman
        # Esta versão 'output' é a que mantém o visual do labirinto clássico
        uses: jasonlong/github-contribution-calendar-action@output
        with:
          github_user_name: cmensato
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Salvar na branch output
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
